.container {
  margin: 30px auto;
  max-width: 1200px;

}

.wrapper {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  a {
    text-decoration: none;
    font-size: 40px;

    transition: color .3s;

    &:hover {
      color: black;
    }

    &:active {
      color: black;
    }
  }
}

.avatar {
  height: 450px;
  width: 300px;
  margin-right: 20px;
}

.fs {
  font-size: 20px
}

.mb {
  margin-bottom: 20px;
}

.info {
  // max-width: 870px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  span {
    font-weight: 600;
  }

  &__comics_title {
    margin-bottom: 20px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
  }

}

.back {
  position: absolute;
  right: 2%;
  color: rgb(185, 185, 185);
}