.loader {
  position: relative;
  top: 60px;
  left: 600px;

  @media screen and (max-width: 1150px) {
    top: 60px;
    left: 510px;
  }

  @media screen and (max-width: 990px) {
    top: 60px;
    left: 410px;
  }

  @media screen and (max-width: 800px) {
    top: 35px;
    left: 340px;
  }

  @media screen and (max-width: 640px) {
    top: 15px;
    left: 250px;
  }

  @media screen and (max-width: 510px) {
    top: 15px;
    left: 190px;
  }

  @media screen and (max-width: 390px) {
    top: 15px;
    left: 140px;
  }

  @media screen and (max-width: 346px) {
    top: 15px;
    left: 120px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}